.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
    text-align: center;
}

.app-base{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.app-header .app-header--title {
    font-size: 50px;
    padding-left: 50px;
    text-align: center;
}

.app-text--title {
    font-size: 22px;
    text-align: center;
}