.app-header {
	height: 60px;
	line-height: 60px;
	border-bottom: thin lightgrey solid;
	text-align: center;
}

.app-base{
    margin: auto;
    width: 50%;
    padding: 10px;
    border-style: solid;
}

.app-header .app-header--title {
    font-size: 50px;
    padding-left: 50px;
    text-align: center;
}

.app-text--title {
	font-size: 28px;
	text-align: center;
}

.app-red--title{
	font-size: 28px;
	text-align: center;
	color: #8B0000;
}

.app-orange--title{
	font-size: 32px;
	text-align: center;
	text-align: center;
	color: #FF8C00;
}

.app-green--title{
	font-size: 40px;
	text-align: center;
	color: $006400;
}


.app-hero-image {
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}